<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Usuários</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        /* Definição de cores personalizadas */
        @layer utilities {
            .bg-rosa-claro { background-color: #f8e1e7; }
            .shadow-chumbo { box-shadow: 4px 4px 10px rgba(54, 54, 54, 0.4); }
        }
    </style>
</head>
<body class="flex items-center justify-center h-screen bg-rosa-claro">

    <div class="w-3/4 bg-white shadow-chumbo rounded-lg flex overflow-hidden">
        
        <!-- Formulário de Cadastro -->
        <div class=" p-4">
            <h2 class="text-2xl break-all text-center font-bold text-pink-600 mb-4">Cadastre-se</h2>
            <form action="/add" method="post" class="flex flex-col gap-4">
                <input type="text" name="name" placeholder="Nome" required class="p-3 border rounded-md focus:ring-2 focus:ring-marrom-claro">
                <input type="email" name="email" placeholder="Email" required class="p-3 border rounded-md focus:ring-2 focus:ring-marrom-claro">
                <input type="password" name="senha" placeholder="Senha" required class="p-3 border rounded-md focus:ring-2 focus:ring-marrom-claro">
                <input type="text" name="telefone" placeholder="Telefone" required class="p-3 border rounded-md focus:ring-2 focus:ring-marrom-claro">
                <button type="submit" class="bg-pink-600 text-white p-3 rounded-md hover:bg-opacity-90">Adicionar</button>
            </form>
        </div>

        <!-- Lista de Usuários -->
        <div class=" p-10 bg-gray-100 ">
            <h2 class="text-2xl text-center font-bold text-pink-600 mb-4">Lista de Usuários</h2>
            <ul class="space-y-2 max-h-64 overflow-y-auto scrollbar-hide">
                {% for user in users %}
                <li class="bg-white p-3 flex flex-col rounded-md border-l-4 ">
                    <span class="font-semibold ">{{ user.name }}</span> 
                    <span class="text-gray-600 ">{{ user.email }}</span>  
                    <span class="text-gray-500 ">{{ user.telefone }}</span> 
                    <span class="text-gray-500 ">{{ user.senha }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
        

    </div>

</body>
</html>
